/* Layout
  =============== */

  html, body {
    min-width: 100%;
    min-height: 500px;
    padding: 30px;
    overflow-x: hidden;
    background-color: $c-black;

    nav {
      height: 300px;
      background: inherit;
    }


  }
