html body {
  min-width: 100%;
  min-height: 500px;
  overflow-x: hidden;
  background-color: $c-black;
  font-family: $f-ganton;
  font-size: $fs-large;
  color: $c-green;
  text-align: center;
  letter-spacing: 14px;
}
